@font-face {
  font-family: Acrom;
  src: url('../fonts/The.Northern.Block_Acrom.otf');
}
@font-face {
  font-family: Geogrotesque;
  src: url('../fonts/Geogtq-Bd.otf');
}

.navbar-inverse{
  background-color: #202020;
}

.navbar-brand {
  padding-top: 0px;
  margin-top: 0px;
}

.navbar-brand img{
  height: 50px;
}

.navbar-brand.center img{
  max-height: 50px;
  transform: translateX(-50%);
  left: 50%;
  position: absolute;
}

body{
  padding-top: 50px;
  background-color: #151515;
}

a{
  color: #1F976C;
}

a:hover{
  color: #1F976C;
}

.background-white{
  margin-top: 10px;
  background-color: #fff;
  height: 100%;
}

.background-white h1, h2, h3, h4{
  font-family: Acrom;
}

.background-white h1{
  font-size: 32pt;
}

.background-white h2{
  font-size: 28pt;
}

.background-white h3{
  font-size: 24pt;
}

.carousel .item {
    width: 100%; /*slider width*/
}
.carousel .item img {
    width: 100%; /*img width*/
}

.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover{
  color: #09FEB8;
}

h1 h2 h3{
  font-family: Geogrotesque;
}

.index-title{
  font-size: 38pt;
  color:white;
  font-family: Acrom;
}

.img-thumbnail{
  width: 200px;
  height: 200px;
}

.img-rounded{
  width: 150px;
  height: 150px;
}

.thumbnail{
  width: 32%;
  height: auto;
  float: left;
}
